@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
  font-family: "Roboto", sans-serif;
}
.montserrat {
  font-family: "Montserrat";
}
.card-img-top {
  width: 80px;
  height: 73px;
}

select.arrow-color {
  border: 1px solid #fff;
  background: url("assets/Polygon.png") no-repeat;
  background-color: #fff;
}
select.arrow-color {
  background-size: 16px;
  background-position: calc(100% - 20px) 12px;
  background-repeat: no-repeat;
}
.input-resim {
  position: relative;
  text-align: center;
  color: white;
}
.input-resim .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tbaslik {
  background-color: #0d1840;
  color: white;
  border: none;
}
.tbaslik th:first-child {
  border-radius: 20px 0 0 20px;
}
.tbaslik th:last-child {
  border-radius: 0 20px 20px 0;
}
.form-button {
  box-shadow: 0px 7.21px 16.42px -4.74px rgba(39, 76, 119, 0.16);
  border-radius: 13px;
  width: 8rem;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
}
.deneme {
  border-radius: 5px 5px 30px 30px !important;
}

.list-section li {
  line-height: 1.2rem;
  list-style-position: outside;
  padding: 1rem;
}
.list-section li span {
  font-size: 1rem;
}

/* SLIDER */

.slider-div {
  background: white;
  padding: 0;
  width: 90vw;
  height: 90vh;
  border-radius: 20px;
}
button.slick-arrow.slick-prev {
  top: 400px;
  left: 400px;
  z-index: 500;
}

button.slick-arrow.slick-next {
  top: 400px;
  right: 400px;
  z-index: 500;
}

button.slick-arrow.slick-prev::before {
  content: url("./assets/egitim/arrow-left.png");
  font-size: 2rem;
  z-index: 1;
  position: absolute;
}

button.slick-arrow.slick-next::before {
  content: url("./assets/egitim/arrow-right.png");
  font-size: 2rem;
  z-index: 1;
  position: absolute;
}
.slider-img-container {
  margin: 0;
  padding: 0;
}
.slider-img-container img {
  margin: 0;
  padding: 0;
}

/* .slider-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */
.slider-button-div {
  padding: 11rem 0;
  text-align: center;
}
.slider-button {
  background: #024d81;
  color: white;
}
@media (max-width: 950px) {
  button.slick-arrow.slick-prev::before,
  button.slick-arrow.slick-next::before {
    display: none;
  }
}
